.CMP-PortalContent {
    width: 90%;
    height: 90vh;
    background-color: #9dc0bd;
    display: grid;
    place-items: center;
    position: relative;

    .cp_container {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
        height: 100%;
        transform: rotate(10deg);

        h1 {
            font-size: 2.5rem;
            color: white;
            font-weight: bold;
            text-shadow: -7px 4px 9px rgba(0, 0, 0, 0.69);
            margin-bottom: 9px;
        }

        .PortalContent__iframe {
            width: 69%;
            height: 69%;
            border: 3rem solid white;
            box-shadow: -34px 30px 47px 1px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -34px 30px 47px 1px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -34px 30px 47px 1px rgba(0, 0, 0, 0.75);
        }
    }
}

/*  -------------------- MY BTN -------------------- */
.cp_content-btn {
    position: absolute;
    top: 0;
    right: 0;

    .cp_btn-exit {
        cursor: pointer;
        background: transparent;
        position: relative;
        display: inline-block;
        padding: 9px;
        outline: none;
        border: 2px solid black;
        margin: 2rem 2rem;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        letter-spacing: 2px;
        color: #fff;
        -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
        transition: 0.45s;
        transition-delay: 0s;
    }

    .cp_btn-exit:hover {
        transition-delay: 0.6s;
        color: #00FFEB;
        box-shadow: 0 0 10px black,
            0 0 20px black,
            0 0 40px black,
            0 0 80px black,
            0 0 100px black;
        border-radius: 50%;
    }

    .cp_btn-exit span {
        position: relative;
        z-index: 100;
    }

    .cp_btn-exit::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: black;
        box-shadow: 5px -8px 0 black,
            5px 8px 0 black;
        transition: width 0.3s,
            left 0.3s,
            height 0.3s,
            box-shadow 0.3s;
        transition-delay: 0.6s, 0.3s, 0s, 0s;
    }

    .cp_btn-exit:hover::before {
        border-radius: 50%;
        width: 60%;
        height: 100%;
        /* right: -2px; */
        left: -2px;
        box-shadow: 5px 0 0 black,
            5px 0 0 black;
        transition-delay: 0s, 0.3s, 0.6s, 0.6s;
    }

    .cp_btn-exit::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: black;
        box-shadow: -5px -8px 0 black,
            -5px 8px 0 black;
        transition: width 0.3s, right 0.3s, height 0.3s, box-shadow 0.3s;
        transition-delay: 0.6s, 0.3s, 0s, 0s;
    }

    .cp_btn-exit:hover::after {
        border-radius: 50%;
        width: 60%;
        height: 102%;
        right: -2px;
        box-shadow: -5px 0 0 black, -5px 0 0 black;
        transition-delay: 0s, 0.3s, 0.6s, 0.6s;
    }

}



@media screen and (max-width: 774px) {
    .CMP-PortalContent {

        .cp_container {
            transform: rotate(6deg);

            .PortalContent__iframe {
                border: 1rem solid white;
                width: 90%;
                height: 40vh;
            }
        }
    }
}