.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 1.3rem 1.3rem 3rem;
    position: relative;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    height: 64%;
    overflow: hidden;
    img{
        height: 100%;
    }
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1.2rem;
}
// .btn.liveDemo{
// }
@media screen and (max-width: 767px) {
    .portfolio__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 575px) {
    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}